.login .login__inner {
    padding:16px;
    display:flex
}

.login, .login__inner {
    height:100%;
}

.cursor-pointer {
    cursor:pointer;
}

.mdl-layout__content {
    z-index:inherit;
}

.no-drawer .mdl-layout__drawer-button {
    display:none;
}

.no-drawer .mdl-layout__drawer {
    display:none;
}